<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
	<link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet" type="text/css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script>
	
</head>
<body>
	<div class="container">
    	<h4>Post School json to tastypie</h4>
    	<div class="btn btn-success" id='school_post'>Post School json</div>
    	<div class="btn btn-warning" id='school_edit_post'>Post School Edit Data</div>
    	
    </div>
    <script type="text/javascript">
    $(document).ready( function () {
	school_json = {
	    "address": "", 
		"examination_board": "", 
		"highest_class": 1, 
		"image": null,
		"latitude": "",
		"longitude": "",
		"lowest_class": 1, 
		"medium_of_instructions": "English",
		"monthly_fee_for_highest_class": "",
		"monthly_fee_for_lowest_class": "",
		"name": "personafy123456",
		"other_fee_per_annum": "",
		"pincode": 110014,
		"recognized": 1,
		"school_type": 1,
		"short_name": ""
    };
    school_edit_json = {
	    "age": null, 
	    "assigned_villages": [{"id": 10000000000514, "village_name": "Kumdabadi"}, {"id": 10000000000089, "village_name": "Rajam Sahi"}], 
	    "gender": "M", 
	    "id": "7000001564", 
	    "mediator_label": "(Kanthikena,Kumdabadi,Rajam Sahi,)", 
	    "name": "Jagannath Soren", 
	    "phone_no": "", 
	    "resource_uri": "/api/v1/mediator/7000001564/"
    }
        
    	
		$('#school_edit_post').click( function () {
			$.ajax({
		        type: "PUT",
		        //the url where you want to sent the userName and password to
		        url: 'http://127.0.0.1:8000/api/school/1/',
		        contentType:'application/json',
  				dataType: 'application/json',
		        async: true,
		        //json object to sent to the authentication url
		        data: JSON.stringify(adoption_edit_json),
		        success: function () {	
		        	alert("Thanks!"); 
		        },
		        error: function (xhr, ajaxOptions, thrownError) {
        			alert(xhr.status);
        			console.log(xhr);
        			alert(thrownError);
		        }
		    });
		});
		
		$('#school_post').click( function () {
			$.ajax({
		        type: "POST",
		        url: 'http://127.0.0.1:8000/api/school/',
		        contentType:'application/json',
  				dataType: 'application/json',
		        async: true,
		        data: JSON.stringify(school_json),
		        success: function () {	
		        	alert("Thanks!"); 
		        },
		        error: function (xhr, ajaxOptions, thrownError) {
        			alert(xhr.status);
        			console.log(xhr);
        			alert(thrownError);
		        }
		    });
		});
	});
	</script>
</body>
</html>
